h1 {
    text-align: center;
    background-color: #9c9c9c;
    border: none;
    padding: 0px;
    margin: 0px 0px;
}

body {
    background-image: url("./imag/zyro-image.png");
    background-attachment: fixed;
    background-size: 100% 100%;
}

Body {
    font-family: Calibri, Helvetica, sans-serif;
    text-align: center;
}

button {
    width: auto;
    padding: 0px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

form {
    background-color: #9c9c9c;
    border: 3px solid;
}

input[type=text],
input[type=password] {
    width: auto;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}


.container {
    padding: 25px;
}